.theme-dark {
	--accent-h:calc({{colors.primary.dark.hue}}/255*360);
	--accent-s:calc({{colors.primary.dark.saturation}}/255*100%);
	--accent-l:calc({{colors.primary.dark.lightness}}/255*100%);

  --text-normal:{{colors.on_surface.dark.hex}};
  --text-muted:{{colors.on_surface_variant.dark.hex}};
  --text-faint:{{colors.outline.dark.hex}};

  --background-primary:{{colors.surface.dark.hex}}; /* editor and right ribbon */
  --background-secondary:{{colors.surface_dim.dark.hex}}; /* left ribbon */
  --background-modifier-hover:{{colors.secondary_container.dark.hex}};
  --background-modifier-active-hover:{{colors.secondary.dark.hex}};
  --background-modifier-message:{{colors.surface_dim.dark.hex}};
  --background-modifier-form-field:{{colors.primary_container.dark.hex}};

  --ribbon-background:{{colors.surface.dark.hex}};
  --divider-color:{{colors.secondary_container.dark.hex}};
  --scrollbar-thumb-bg:{{colors.on_secondary_container.dark.hex}};
  --status-bar-border-color:{{colors.secondary_container.dark.hex}};
  --status-bar-background:{{colors.surface.dark.hex}};
  --titlebar-background:{{colors.surface.dark.hex}};
  --titlebar-text-color:{{colors.on_surface.dark.hex}};

  --nav-item-color:{{colors.on_surface_variant.dark.hex}};
  --nav-item-color-active:{{colors.on_primary_container.dark.hex}};
  --nav-item-background-active:{{colors.primary_container.dark.hex}};
  --nav-item-color-hover:{{colors.on_secondary_container.dark.hex}};
  --nav-item-background-hover:{{colors.secondary_container.dark.hex}};

  --tab-background-active:{{colors.primary_container.dark.hex}};
  --tab-text-color-active:{{colors.on_primary_container.dark.hex}};
  --tab-text-color:{{colors.on_surface_variant.dark.hex}};

  --icon-color:{{colors.on_surface.dark.hex}};

  --h1-color:{{colors.primary.dark.hex}};
  --h2-color: color-mix(in srgb, {{colors.primary.dark.hex}}, {{colors.tertiary.dark.hex}});
  --h3-color:{{colors.tertiary.dark.hex}};
  --h4-color: color-mix(in srgb, {{colors.primary.dark.hex}}, {{colors.secondary.dark.hex}});
  --h5-color:{{colors.secondary.dark.hex}};
  --h6-color: color-mix(in srgb, {{colors.tertiary.dark.hex}}, {{colors.secondary.dark.hex}});


  }
/* add parts not accessible without specific selector?*/
.theme-dark .sidebar-toggle-button.mod-left {
  color:{{colors.on_surface.dark.hex}};
  background:{{colors.surface.dark.hex}};
}
.theme-dark .sidebar-toggle-button.mod-right {
  color:{{colors.on_surface.dark.hex}};
  background:{{colors.surface.dark.hex}};
}

.theme-dark .workspace-tab-header-container{
  background:{{colors.surface.dark.hex}};
}
